{% extends "uweflix/layout.html" %}
{% load static %}
{% block title %}
Account Modify
{% endblock %}
{% block content %}
<h1>Account Modify</h1>
<hr/>
<script>
    $( function() {
      $( "#id_dob" ).datepicker({
          dateFormat: "yy-mm-dd"
      });
    } );
</script>

<form method='POST' class="form-area" action="" autocomplete="off">
    {% csrf_token %}
    {{form}}
    <button type="submit" class="btn btn-warning"name = select_user>Select</button>
    <hr/>

    <p>Current Password: {{ form.password1 }}</p>
    <p>First Name: {{ form.first_name }}</p>
    <p>Last Name: {{ form.last_name }}</p>
    <p>Username: {{ form.username }}</p>
    <p>Email: {{ form.email }}</p>
    <p>New Password: {{ form.password2 }}</p>
    <p>Date of Birth: {{ customer_form.dob }}</p>
    <br/>



</form>
{% endblock %}
