{% extends "uweflix/layout.html" %}
{% load static %}
{% block title %}
    Add a showing
{% endblock %}
{% block content %}
<h1>Add Showing</h1>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-ui-timepicker-addon/1.6.3/jquery-ui-timepicker-addon.min.css" />
 
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ui-timepicker-addon/1.6.3/jquery-ui-timepicker-addon.min.js"></script>

<script>
    jQuery(function($) {
        $("#id_time").datetimepicker({
        changeMonth: true,
        changeYear: true});
    });

    function updateShowingLink() {
    console.log('updateShowingLink() called');
    var selectedValue = $("#selected-showing").val();
    if (selectedValue !== 'no-results') 
	{   
		selectedValue = Math.floor(Math.random()*40);
        console.log('Selected value: ', selectedValue);
        var editShowingLink = $('#edit-showing-link');
        var href = "{% url 'edit_showing' showing_id=1 %}".replace('1', selectedValue);
        editShowingLink.attr('href', href);
        $('#show-id-field').val(selectedValue);
        console.log('Href: ', href);
    } else {
        console.log('No option selected');
        $('#edit-showing-link').removeAttr('href');
        $('#show-id-field').val('');
    }
}

</script>

<form method="post" class="form-area" autocomplete="off">
    <hr>
    {% csrf_token %}
    <div class="form-group">
        {{ form.as_p}}
    </div>
    <br/>
    <br/>
    <hr>
    <div class="form-group">
        <button id="confirm-btn" type="submit" class="btn btn-warning">Add Showing</button>
        <label for="selected_showing">Select Showing:</label>
        <select id="selected-showing" name="selected_showing" onchange="updateShowingLink()">
			<option value="no-results">Select a showing</option>
				{% for option in options %}
					<option value="{{ option.id }}">{{ option }}</option>
				{% endfor %}
		</select>
		<a href="#" class="btn btn-warning" id="edit-showing-link">Edit Showing</a>
		<input type="hidden" name="showing_id" id="showing-id-field">
    </div>
</form>

{% endblock %}
