{% extends "uweflix/layout.html" %}
{% load static %}
{% block title %}
Manage Screens
{% endblock %}
{% block content %}

<h1>Add Screen</h1>
<style>
    .submit-button {
        margin: 10px 10px 10px 10px;
    } 
</style>
<form method="POST" class="box-element" autocomplete="off">
    {% csrf_token %}
    <div class="form-group">
    {{ form.as_p }}
    </div>
    <div class="form-group">
    <button type="submit" name="add_screen" value="Add Screen" class="btn btn-warning">Add Screen</button>
    </div>
</form>
<br/><br/><br/>

<h1>Edit Screen Details</h1>
<ul class="list-group"> 
  {% for screen in screens %}
    <li class="list-group-item d-flex justify-content-between">
      Screen {{ screen.id }}
      <a href="../screen_detail/{{screen.id}}">
        <input type="submit" name="edit_screen" value="Edit" class="btn btn-warning">
      </a>
    </li>
  {% endfor %}
</ul>
{% endblock %}
