{% extends "uweflix/layout.html" %}
{% load static %}
{% block title %}
Add/Edit Screen
{% endblock %}
{% block content %}

<h1>Add Screen</h1>
<style>
    .submit-button {
        margin: 10px 10px 10px 10px;
    } 
</style>
<form method="POST" class="box-element" autocomplete="off">
    {% csrf_token %}
    <div class="form-group">
    {{ form.as_p }}
    </div>
    <div class="form-group">
    <button type="submit" name="add_screen" value="Add Screen" class="btn btn-warning">Add Screen</button>
    </div>
</form>
<br/><br/><br/>

<h1>Edit Screen details</h1>
<form method="POST" class="box-element" autocomplete="off">
    {% csrf_token %}
    <div class="form-group">
        <label for="selected_screen">Select Screen:</label>
        <select id="selected_screen" name="selected_screen">
            {% for option in options %}
            <option value="{{ option.id }}">{{ option }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        {{ form1.as_p }}
    </div>
    <div class="form-group">
        <button type="submit" name="edit_screen" value="Edit Screen" class="btn btn-warning">Edit Screen</button>
    </div>
</form>
{% endblock %}
