{% extends "uweflix/layout.html" %}
{% block title %}
Login
{% endblock %}
{% block content %}

<style>
    h1 {
        text-align: center;
        margin: 10px;
    }


    div.form {
        display: block;
        text-align: center;
    }

    form {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    }

    .inputFields {
        width: 200px;
        padding: 10px;
        margin: 10px 0; 
        border-radius: 12px;
        box-shadow: 0 0 5px 4px rgba(211,211,211,0.8);
    }
    .submitButton {
        width: 200px;
        padding: 5px;
        margin: 25px 0; 
        background-color: #ffc107;
        color: black;
        font-weight: bold;
        box-shadow: 0 0 1px 1px rgba(0,0,0,0.8);
    }

    .extraHeight {
        height: 150px;
    }

    .message-box {
        background-color: #f8d7da;
        border-color: #f5c6cb;
        color: #721c24;
        padding: 10px;
        margin-bottom: 15px;
        border-radius: 5px;
    }    
    
      /* The button container */
    .google-button {
        display: inline-block;
        background-color: #fff;
        border: 1px solid #ddd;
        color: #555;
        padding: 0.5rem 1rem;
        font-size: 1rem;
        text-align: center;
        text-decoration: none;
        border-radius: 2px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
       
    }

    /* The Google logo */
    .google-button img {
        height: 2em;
        width: 2em;
        margin-right: 0.5rem;
    }

    /* On hover */
    .google-button:hover {
        border: 1px solid #3367d6;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1),
        inset 0 0 0 1px #3367d6;
        color: #3367d6;
    }

    /* On active */
    .google-button:active {
        background-color: #f9f9f9;
        border: 1px solid #ddd;
        box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.1);
        color: #555;
    }

</style>

<h1>Log in to UWEFlix</h1>
<div class = "form">
    <form method="POST">
        {% csrf_token %}
        {% if messages %}
        <div class="messages">
            {% for message in messages %}
            <div{% if message.tags %} class="alert alert-{{ message.tags }} message-box"{% endif %}>{{ message }}</div>
            {% endfor %}
        </div>
        {% endif %}
        <label for="username">Username:</label><br>
        <input type = "text", name = "username", class="inputFields", placeholder="Enter Username"><br>
        <label for="password">Password:</label><br>
        <input type = "password", name = "password", class="inputFields", placeholder="Enter Password"><br>
        <input type="submit" value="Login", class="submitButton">
        <h1></h1>
        {% load socialaccount %}

        {% if user.is_authenticated %}
            <p>Welcome, {{ user.email }}</p>
            <p>Welcome, {{ user }}</p>
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endif %}
            <a href="{% url 'googleAuthRegister' %}">Register</a>
        {% else %}
        <a href="{% provider_login_url 'google' %}?next={% url 'googleAuthRegister' %}" class="google-button">
            <img src="https://www.google.com/images/icons/gplus-64.png" alt="Google logo">
            Sign in with Google
          </a>
        {% endif %}
    </form>
</div>

{% endblock %}
