{% extends "uweflix/layout.html" %}
{% load static %}
{% block title %}
Payment
{% endblock %}
{% block content %}
<style>
    form {
        display: inline-block;
    }

    h1 {
        text-align: center;
    }

    h2, h3, h5, p, input {
        padding-left: 15px;
    }

</style>
<br/>
<h1>Confirm your Booking</h1>
<br/>
<body>
    <h2>Order summary:</h2>
    <hr/>

    <h3>Film:</h3>
        <p>
           <b>{{ showing.film.title }}</b><br/>
           Duration: {{ showing.film.duration }} minutes<br/>
           Age rating: {{ showing.film.age_rating }}
           {% if showing.film.age_rating == '18' %}
                (Please bring ID with you to verify your age!)
           {% endif %}
        </p>
        <br/>
        <h3>Showing:</h3>
        <p>Screen {{ showing.screen.id }}<br/>{{ showing.time | date:'j M Y' }} at {{ showing.time | time:'G:i'}}</p>
        <hr/>
        <p>There are currently <b>{{ showing.remaining_tickets }}</b> tickets available for this showing.</p>
        <hr/>
    <div class="form">
        <form id="payment-form" action="{% url 'payment' showing.pk %}" method="post" autocomplete="off">
            {% csrf_token %}
            <h3>Payment:</h3>
            <div class="alert-error">
                {{ form.non_field_errors }}
            </div>
            {% if error_message %}
                <div style="background-color: #f8d7da; border-color: #f5c6cb; color: #721c24; padding: 12px; margin-bottom: 10px; border: 1px solid; border-radius: 4px;">
                    {{ error_message }}
                </div>
            {% endif %}
            <div class="form-area">
                <div class="form-group">
                    Adult tickets (£<span id="payment_adult_price">{{ adult_price | floatformat:2 }}</span>): {{ form.adult_tickets }}
                </div>
                <br/>
                <div class="form-group">
                    Student Tickets (£<span id="payment_student_price">{{ student_price | floatformat:2 }}</span>): {{ form.student_tickets }}
                </div>
                <br/>
                <div class="form-group">
                    Child Tickets (£<span id="payment_child_price">{{ child_price | floatformat:2 }}</span>): {{ form.child_tickets }}
                </div>
                <hr/>
                <div class="form-group">
                    Total Cost: {{ form.total_cost }}
                </div>
                <hr/>
                <div class="form-group">
                    Select Payment Method: {{ form.payment_options }}
                </div>
            </div>
            <hr/>
            <div class="form-group">
                <input id="confirm-btn" class="btn btn-warning" type="submit" value="Book">
            </div>
        </form>
    </div>
</body>
{% endblock %}

