{% extends "uweflix/layout.html" %}
{% load static %}
{% block title %}
UWEFlix - Viewings
{% endblock %}
{% block content %}
<div class="row">
    {% for film in films %}
    <div class="col-lg-4">
        <img class="thumbnail" src="{{ film.image.url }}">
        <div class="box-element bg-dark film">
            <h6 style="height: 30px; color: white;"><strong>{{film.title}}</strong></h6>
            <hr style="color: white">
            <a class="btn btn-outline-warning add-btn" href="{% url 'showings_by_film' film.pk %}">Book</a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}