body{
	background-color: hsl(0, 0%, 98%);
}

h1,h2,h3,h4,h5,h6{
	color:hsl(0, 0%, 30%);
}

.box-element{
	box-shadow:hsl(0, 0%, 80%) 0 0 16px;
	background-color: #fff;
	border-radius: 4px;
	padding: 10px;
}

.thumbnail{
	width: 100%;
	height: auto;
	-webkit-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    -moz-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
}

.film{
	border-radius: 0 0 4px 4px;
}

.bg-dark{
	background-color: #4f868c;
}


.col-lg-4, .col-lg-6, .col-lg-8, .col-lg-12{
	margin-top: 10px;
}

.btn{
	border-radius: 0;
}


.row-image{
	width: 100px;
}

#id_adult_tickets, #id_student_tickets, #id_child_tickets, #id_total_cost {
	width:75px;
	float: right;
}

.form-field{
	width:250px;
	display: inline-block;
	padding: 5px;
}
.form-area {
	width: 500px;
}

.form-group {
	height:50px;
	width: 450px;
	margin: auto;
	display: inline-block;
	padding: 10px;
}







